<!DOCTYPE html>
<html ng-app = "testapp">
<head>
		<title>TTT-Task</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/assets/js/style.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  		


</head>
<body ng-controller = "MainController as vm">

	<div class="container well">
					
				
				<div class="tbox col-xs-12">
				<p>Enter NO.</p>	
				<input type="textbox" name="wordn" id="noInput" class="form-control" >
				
				<input type="submit" value="Submit" id="subBtn" class="btn btn-primary">
				<input type="submit" value="Try Again" id="trybtn" class="btn btn-primary">
				</div>

			<p id="ttt"></p>	
			<table class="table table-condensed">
				
			</table>
	</div>

		



<script type="text/javascript" src="/assets/js/main.js"></script>
</body>
</html>